# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
env/
*.sqlite3

# Django
*.log
db.sqlite3
*.pyc
*.cover
*.coverage
*.egg-info/
*.pytest_cache/
*.migrations/

# Environnement virtuel
django_env/
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
